{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/accountapp/auth/reset_password.css' %}">
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center mb-3">
    <div id="container" class="my-5 shadow-lg" style="width: 650px; border-radius: 2rem; padding: 3rem;">
        <h3>비밀번호 변경</h3>
        <form action="", method="post">
            {% csrf_token %}
            <h6 style="color: #808080;">새로운 비밀번호를 입력하십시오</h6>
            <div align="center" class="mb-5">
                <input class="input-design mt-5" name="new_password1" type="password">
            </div>
            <ul style="color: #737373; font-size: 1rem">
                <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
                <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
            </ul>
            <h3 class="pt-3">비밀번호 확인</h3>
            <h6 style="color: #808080;">새로운 비밀번호를 다시 입력하십시오</h6>
            <div align="center" class="mb-5">
                <input class="input-design mt-5" name="new_password2" type="password">
            </div>
            <div align="center">
                <button id="cancelBtn" type="button" onclick="window.history.back();">취소</button>
                <button id="nextBtn">변경하기</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}