<!DOCTYPE html>
<html lang="ko">
{% include 'head.html' %}
{% load static %}

<body>
    <div class="text-center">
        <a href="{% url 'account:index' %}">
            <img src="{% static 'img/logo.svg'%}" width="60px" class="my-5">
        </a>
    </div>
    <div class="text-center mb-4">
        <span style="font-size: 5rem; color:#F07489">
            <i class="fas fa-id-card-alt"></i>
        </span>
            <p style="margin-bottom:10px;">새 비밀번호가 설정되었습니다.</p>
    </div>

    <a href="{% url 'account:login' %}">
        <p class="border-0 text-white text-center py-2 mx-auto my-5" style="background: #F07489; font-size: 1.2rem; width: 200px">로그인으로</p>
    </a>
</body>

</html>
