<!DOCTYPE html>
<html lang="ko">

{% include 'head.html' %}
{% load static %}
{% load compress %}

{% compress css file extra %}
<link rel="stylesheet" href="{% static 'css/accountapp/profile/create/create2.css' %}">
<link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">
{% endcompress %}

{% compress js file extra %}
<script src="{% static 'js/accountapp/profile/dynamic_form_submit.js' %}"></script>
<script src="{% static 'js/autocomplete-tag.js' %}"></script>
<script src="{% static 'js/autocomplete-ajax.js' %}"></script>
<script src="{% static 'js/accountapp/profile/profile_create_extra.js' %}"></script>
{% endcompress %}
<body>
<div class="form-container shadow-lg p-4 mx-auto"
     style="border-radius: 1rem; margin: 8rem 0;">
    <form method="post" action="{% url 'account:create2' %}" class="form-group p-3">
        {% csrf_token %}
        <div class="tab">
            <p>프로필 등록(1/6)</p>
            <h3 class="mt-3">참가 분야 선택하기</h3>
            <small>어떤 분야로 팀에 참가하는 지 선택해주세요!</small>
            <div class="select-type-container mt-3">
                <div class="select-type">
                    <input type="radio" name="profile_type" value="0" id="0" checked>
                    <label for="0">
                        <p class="my-3">개발자</p>
                    </label>
                </div>
                <div class="select-type">
                    <input type="radio" name="profile_type" value="1" id="1">
                    <label for="1">
                        <p class="my-3">디자이너</p>
                    </label>
                </div>
                <div class="select-type">
                    <input type="radio" name="profile_type" value="2" id="2">
                    <label for="2">
                        <p class="my-3">기획자</p>
                    </label>
                </div>
            </div>
            <h3 class="mt-4">현재 상태 선택하기</h3>
            <small>상태를 등록하여 팀 찾기를 원할하게 해보세요!</small>
            <div class="status-form d-grid align-items-center mt-3" style="grid-template-columns: 100px 1fr;">
                <span>현재 상태</span>
                <select class="nice-select wide shadow-none" name="current_status">
                    <option value="0">휴식 중</option>
                    <option value="1">팀 찾는 중</option>
                    <option value="2">팀 참가 중</option>
                    <option value="3">기타</option>
                </select>
            </div>
        </div>
        <div class="tab">
            <p>프로필 등록(2/6)</p>
            <h3 class="mt-3">관심 분야 / 개발 역량 등록하기</h3>
            <small>자신의 관심분야와 개발 역량을 등록하세요!</small>
            <h4 class="mt-4">관심 분야</h4>
            <small>관심 분야를 설정하세요! (예: 웹개발, 앱개발, 데이터 마이닝)</small>
            <div class="interests-tags">
                <input id="interest-search-field" type="text" class="tagator d-none" name="interest" placeholder="관심이 가는 분야를 적어주세요!" maxlength="30">
            </div>
            <h4 class="mt-4">개발 역량 (사용 가능 언어, 도구)</h4>
            <small>사용할 수 있는 언어나 도구를 설정하세요! (예: Node.js, Pytorch, Figma)</small>
            <div class="stack-tags">
			    <input id="stack-search-field" type="text" class="tagator d-none" name="stack" placeholder="사용할 수 있는 언어나 도구를 적어주세요!!" maxlength="30">
            </div>
        </div>
        <div class="tab">
            <p>프로필 등록(3/6)</p>
            <h3>활동사항 등록하기</h3>
            <small class="mb-3">진행 중이거나 완료된 동아리 혹은 프로젝트를 등록하세요!</small>
            <div class="d-flex flex-column">
                <div class="extra-form-group">
                    <button type="button" class="add-form" style="font-size: 1rem;">+</button>
                    <div class="extra-form activity-form shadow p-4">
                        <div class="form-input">
                            <label><span style="color:red">* </span>활동명</label>
                            <input type="text" class="form-control shadow-none p-2" name="activity-name_0" placeholder="ex) 프로젝트 이름, 동아리명" maxlength="20">
                        </div>
                        <div class="form-input">
                            <label><span style="color:red">* </span>종류</label>
                            <div class="radio-list">
                                <div class="form-check">
                                    <label class="form-check-label">동아리</label>
                                    <input class="form-check-input shadow-none mt-0" type="radio" name="activity-type_0" value="0" style="transform:scale(0.7);" checked>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">프로젝트</label>
                                    <input class="form-check-input shadow-none mt-0" type="radio" name="activity-type_0" value="1" style="transform:scale(0.7);">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">기타</label>
                                    <input class="form-check-input shadow-none mt-0" type="radio" name="activity-type_0" value="2" style="transform:scale(0.7);">
                                </div>
                            </div>
                        </div>
                        <div class="form-input">
                            <label>활동 기간</label>
                            <div class="d-flex align-items-center responsive-form w-100">
                                <div class="grid-form w-100">
                                    <input type="text" class="form-control text-end shadow-none numeric-form p-2" name="activity-start-year_0" placeholder="년도" maxlength="4">
                                    <select class="nice-select wide" name="activity-start-month_0">
                                        {% for i in "0123456789012" %}
                                            {% if forloop.counter0 == 0 %}
                                                <option value ="">월</option>
                                            {% else %}
                                            <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                                           {% endif %}
                                        {% endfor %}
                                    </select>

                                </div>
                                <center class="mx-1">~</center>
                                <div class="grid-form w-100">
                                    <input type="text" class="form-control text-end shadow-none numeric-form p-2" name="activity-end-year_0" placeholder="년도" maxlength="4">
                                    <select class="nice-select wide"  name="activity-end-month_0">
                                        {% for i in "0123456789012" %}
                                            {% if forloop.counter0 == 0 %}
                                                <option value ="">월</option>
                                            {% else %}
                                            <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                                           {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="form-input">
                            <label><span style="color:red">* </span>역할</label>
                            <input type="text" class="form-control shadow-none p-2" name="activity-role_0" placeholder="맡은 역할을 간략하게 적어주세요!" maxlength="20">
                        </div>
                        <div class="form-input">
                            <label>활동 설명</label>
                            <textarea class="form-control shadow-none p-2" name="activity-description_0" maxlength="100"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab">
            <p>프로필 등록(4/6)</p>
            <h3>외국어 등록하기</h3>
            <small>사용가능한 외국어를 등록하세요!</small>
            <div class="d-flex flex-column">
                <div class="extra-form-group">
                    <button type="button" class="add-form" style="font-size: 1rem;">+</button>
                    <div class="extra-form lang-form shadow p-4">
                        <div class="form-input">
                            <label>언어</label>
                            <div class="responsive-form d-flex w-100" style="gap: 10px;">
                                <input type="text" class="form-control text-end shadow-none p-2" name="language-name_0" placeholder="종류" maxlength="10">
                                <select class="nice-select wide" name="language-ability_0">
                                    <option value="0">초급 ( 기본적인 대화 가능 )</option>
                                    <option value="1">중급 ( 사무적인 대화 가능 )</option>
                                    <option value="2">고급 ( 자유자재 의사소통 )</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="mt-5">자격증 등록하기</h3>
            <small>가지고 있는 자격증을 동록하세요!</small>

          <div class="d-flex flex-column">
                <div class="extra-form-group">
                    <button type="button" class="add-form" style="font-size: 1rem;">+</button>
                    <div class="extra-form cert-form shadow p-4">
                        <div class="form-input">
                            <label><span style="color:red">* </span>자격증명</label>
                            <input type="text" class="form-control shadow-none p-2" name="certificate-name_0" maxlength="30">
                        </div>
                        <div class="form-input">
                            <label>취득 날짜</label>
                            <div class="grid-form w-100">
                                <input type="text" class="form-control text-end shadow-none numeric-form p-2" placeholder="년도" name="certificate-year_0" maxlength="4">
                                <select class="nice-select wide" name="certificate-month_0">
                                    {% for i in "0123456789012" %}
                                        {% if forloop.counter0 == 0 %}
                                            <option value ="">월</option>
                                        {% else %}
                                        <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                                       {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab">
            <p>프로필 등록(5/6)</p>
            <h3>수상실적 등록하기</h3>
            <small>수상 실적을 등록하여 자신을 차별화하세요!</small>
            <div class="d-flex flex-column">
                <div class="extra-form-group">
                    <button type="button" class="add-form" style="font-size: 1rem;">+</button>
                    <div class="extra-form award-form shadow p-4">
                        <div class="form-input">
                            <label><span style="color:red">* </span>대회명</label>
                            <input type="text" class="form-control shadow-none p-2" name="award-name_0" maxlength="20">
                        </div>
                        <div class="form-input">
                            <label><span style="color:red">* </span>수상내역</label>
                            <input type="text" class="form-control shadow-none p-2" name="award-result_0" maxlength="20">
                        </div>
                        <div class="form-input">
                            <label>날짜</label>
                            <div class="grid-form w-100">
                                <input type="text" class="form-control text-end shadow-none numeric-form p-2" name="award-year_0" placeholder="년도" maxlength="4">
                                <select class="nice-select wide" name="award-month_0">
                                    {% for i in "0123456789012" %}
                                        {% if forloop.counter0 == 0 %}
                                            <option value ="">월</option>
                                        {% else %}
                                        <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                                       {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-input">
                            <label>주최 기관</label>
                            <input type="text" class="form-control shadow-none p-2" name="award-organization_0" maxlength="20">
                        </div>
                        <div class="form-input">
                            <label>활동 설명</label>
                            <textarea class="form-control shadow-none" name="award-description_0" maxlength="100"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab">
            <p>프로필 등록(6/6)</p>
            <h3>인턴기록 등록하기</h3>
            <small>인턴 경험을 등록하여 전문성을 어필하세요!</small>
            <div class="d-flex flex-column">
                <div class="extra-form-group">
                    <button type="button" class="add-form" style="font-size: 1rem;">+</button>
                    <div class="extra-form intern-form shadow p-4">
                        <div class="form-input">
                            <label><span style="color:red">* </span>회사명</label>
                            <input type="text" class="form-control shadow-none p-2" name="intern-name_0" maxlength="20">
                        </div>
                        <div class="form-input">
                            <label>활동 기간</label>
                            <div class="d-flex align-items-center responsive-form w-100">
                                <div class="grid-form w-100">
                                    <input type="text" class="form-control text-end shadow-none numeric-form p-2" name="intern-start-year_0" placeholder="년도" maxlength="4">
                                    <select class="nice-select wide" name="intern-start-month_0">
                                        {% for i in "0123456789012" %}
                                            {% if forloop.counter0 == 0 %}
                                                <option value ="">월</option>
                                            {% else %}
                                            <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                                           {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <center class="mx-1">~</center>
                                <div class="grid-form w-100">
                                    <input type="text" class="form-control text-end shadow-none numeric-form p-2" name="intern-end-year_0" placeholder="년도" maxlength="4">
                                    <select class="nice-select wide" name="intern-end-month_0">
                                        {% for i in "0123456789012" %}
                                            {% if forloop.counter0 == 0 %}
                                                <option value ="">월</option>
                                            {% else %}
                                            <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                                           {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="form-input">
                            <label><span style="color:red">* </span>역할</label>
                            <input type="text" class="form-control shadow-none p-2" name="intern-role_0" placeholder="맡은 역할을 간략하게 적어주세요!" maxlength="20">
                        </div>
                        <div class="form-input">
                            <label>활동 설명</label>
                            <textarea class="form-control shadow-none" name="intern-description_0" maxlength="100"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 btn-list">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="border-0">뒤로가기</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">다음으로</button>
        </div>
    </form>
</div>
</body>
</html>