.card-container, .card-container-team {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    row-gap: 30px;
    column-gap: 30px;
    justify-items: center;
}

.profile-card {
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.profile-card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.team-card {
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.team-card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.team-card-thumbnail {
    width: 100%;
    padding-top: 40%;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
}
.team-card-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.landing-profile-card {
    width: 330px;
    margin-right: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.landing-profile-card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.landing-team-card {
    width: 330px;
    margin-right: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.landing-team-card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.list-header > div {
    margin-right: 60px;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #F07489;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #F07489;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

@media screen and (max-width: 991px) {
   .list-header > div {
        text-align: center;
        margin-right: 0px;
   }
   .list-header > img {
        display: none;
   }
}

.tags-container {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.tags-container::-webkit-scrollbar {
  background-color: #FFFFFF;
  height: 6px;
}

#scroll1::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 3px;
}

#scroll2::-webkit-scrollbar-thumb {
  background-color: #F07489;
  border-radius: 3px;
}

.tags-container::-webkit-scrollbar-button {
  display: none;
}

.tag-item-1 {
  height: 2rem;
  margin: .3rem .5rem .5rem 0;
  font-size: 1rem;
  color: black;
  background-color: #C4C4C4;
  border-radius: 5px;
  white-space: nowrap;
  padding: .2rem;
}

.tag-item-2 {
  height: 2rem;
  margin: .3rem .5rem .5rem 0;
  font-size: 1rem;
  color: white;
  background-color: #F07489;
  border-radius: 5px;
  white-space: nowrap;
  padding: .2rem;
}

@media (max-width: 575px) {
    .team-card, .profile-card {
        max-width: 90% !important;
    }
}