<footer class="footer-area d-flex flex-column justify-content-center">
    <div class="mx-3">
        {% comment %} <p><a target="_blank" href="https://github.com/Dreaming-Developer/INTRO">소개페이지</a></p> {% endcomment %}
        <div class="d-flex justify-content-center mt-3" id="footer-button">
            <a href="/intro"><p class="border rounded shadow p-2">소개페이지</p></a>
            <a href="https://pf.kakao.com/_Xyxays"><p class="border rounded shadow p-2">문의 및 건의사항(에러제보)</p></a>
        </div>
        <p style="font-size: .9rem;">경기도 수원시 장안구 천천동 300 성균관대학교 자연과학캠퍼스 반도체관 6층</p>
    </div>
    <div class="info">
        <p style="font-size: .9rem;">Copyright &copy; 2021 꿈꾸는 개발자들. All rights reserved.</p>
    </div>
</footer>