<!DOCTYPE html>
<html lang="ko">
{% include 'head.html' %}
{% load static %}
<body class="text-center">
<img style="height: 70px; width: 70px" src="{% static 'img/logo.svg' %}" class="mt-5">
<div class="mt-5">
    꿈꾸는 개발자들을 찾아주셔서 감사합니다.<br>
    꿈꾸는 개발자들은 현재 사이트 리뉴얼 중에 있습니다.<br>
    기존 가입자분들께는 리뉴얼이 완료되는대로 안내메일을 드리겠습니다.<br>
    더 나아진 모습으로 찾아뵙겠습니다!
    <a href="https://pf.kakao.com/_Xyxays"><p class="border rounded shadow p-2 mt-4 w-25" style="margin: 0 auto;">문의 및 건의사항</p></a>
</div>
</body>
</html>