.input-design {
    outline: none;
    border: none;
    text-align: center;
    border-bottom: 1px black solid;
}

@media screen and (max-width: 991px) {
    #container {
        width: 100% !important;
    }
    .input-design {
        width: 60%;
    }
    #nextBtn {
        margin-top: .5rem;
    }
}