{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/card-list.css' %}">
<link rel="stylesheet" href="{% static 'css/contestapp/card-list.css' %}">
<link rel="stylesheet" href="{% static 'css/accountapp/profile/detail/profile-menu.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/posterview-mode.js' %}"></script>
{% endblock%}

{% block content %}
<div class="w-100" style="height: 200px;">
</div>
<div class="text-center mb-4">
    <div class="shadow-lg mx-auto mb-4" style="border-radius: 2rem;  background-size:cover;
    background-image: url({{ user.profile.image.url }}); width: 180px; height: 180px; margin-top: -90px;"></div>
    <h1 class="text-center">{{ user.profile.nickname }}</h1>
    <small class="text-center text-secondary">최근 로그인 : {{ user.show_date }}</small>
</div>
<div class="container detail-container">
    <hr class="container">
    <div class="text-center" id="profile-menu">
        <a href="{% url 'account:detail' slug=user.profile.nickname %}" class="pb-2">프로필</a>
        <a href="{% url 'account:article' slug=user.profile.nickname %}" class="ms-4 pb-2">모집글</a>
        <a href="{% url 'account:subscribe' %}" class="ms-4 pb-2"  style="color: #F07489; border-bottom: 2px solid;">즐겨찾기</a>
        <a href="{% url 'account:update' %}" class="ms-4 pb-2">프로필 설정</a>
    </div>
    <div class="mt-4 mb-5">
        <div align="center" class="mb-4">
            <div class="pt-2" style="border-top: #cbcfd4 .2px solid; width: 150px">
                <button id="team_btn" style="color: #F07489; border-bottom: #F07489 2px solid">팀</button>
                <button id="contest_btn" class="ms-2">대회 및 공모전</button>
            </div>
        </div>

        <div id="team_view">
            {% if team_list %}
                <p class="text-center"><small>{{ team_list | length }} 개의 즐겨찾기</small></p>
                <div class="card-container-team container p-0 mb-5">
                    {% include 'teamapp/snippets/card.html' with team_list=team_list %}
                </div>
            {% else %}
                <h5 class="text-center">즐겨찾기한 글이 없네요....</h5>
            {% endif %}
        </div>
        <div id="contest_view" style="display: none">
            {% if contest_list %}
                <p class="text-center"><small>{{ contest_list | length }} 개의 즐겨찾기</small></p>
                <div class="card-container-contest container p-0 mb-5">
                    {% include 'contestapp/snippets/contest_card.html' with contest_list=contest_list %}
                </div>
            {% else %}
                <h5 class="text-center">즐겨찾기한 글이 없네요....</h5>
            {% endif %}
        </div>
        
    </div>
</div>
<script>
    const team_btn = document.querySelector('#team_btn');
    const contest_btn = document.querySelector('#contest_btn');
    const team = document.querySelector('#team_view');
    const contest = document.querySelector('#contest_view');

    team_btn.addEventListener('click', () => {
        team.style.display = "block";
        contest.style.display = "none";
        team_btn.style.color = "#F07489";
        contest_btn.style.color = "black";
        team_btn.style.borderBottom = "#F07489 2px solid"
        contest_btn.style.borderBottom = "none"
        team.style.animation = "fade-in 1s";
        intro.style.animationFillMode = "forwards";
    })

    contest_btn.addEventListener('click', () => {
        team.style.display = "none";
        contest.style.display = "block";
        team_btn.style.color = "black";
        contest_btn.style.color = "#F07489";
        team_btn.style.borderBottom = "none"
        contest_btn.style.borderBottom = "#F07489 2px solid"
        contest.style.animation = "fade-in 1s";
        contest.style.animationFillMode = "forwards";
    })

    let contest_card = document.querySelectorAll('.contest-card');
    let card_container_contest = document.querySelectorAll('.card-container-contest');
    
    window.onload = () => {
        default_mode()
    }

    window.addEventListener('resize', () => {
        default_mode()
    });
</script>
{% endblock %}
