<!DOCTYPE html>
<html lang="ko">
{% include 'head.html' %}
{% load static %}

<body>
    <div class="text-center">
        <a href="{% url 'account:index' %}">
            <img src="{% static 'img/logo.svg'%}" width="60px" class="my-5">
        </a>
    </div>
    <div class="text-center mb-4">
        <span style="font-size: 5rem; color:#F07489">
            <i class="far fa-check-circle"></i>
        </span>
        <p class="mt-3" style="font-size: 2rem;">회원가입이 성공적으로 완료되었습니다!</p>
    </div>

    <a href="{% url 'account:login' %}">
        <p class="border-0 text-white text-center py-2 mx-auto my-5" style="background: #F07489; font-size: 1.2rem; width: 200px">시작하기</p>
    </a>
</body>

</html>